<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    </head>
<body>

<div class="container">
    <h1>Basket</h1>
    <div class="row">
        <form action="/basket" method="GET">
            <button type="submit" class="btn btn-secundary">Back to basket overview</button>
        </form>
        <table class="table">
            <tbody>
                <tr>
                    <td>UID</td>
                    <td>{{.UID}}</td>
                </tr>
                <tr>
                    <td>Created at</td>
                    <td>{{.Timestamp}}</td>
                </tr>                
                <tr>
                    <td>Shop</td>
                    <td>{{.Shop.Name}}</td>
                </tr>
                <tr>
                    <td>Shopper</td>
                    <td>{{.Shopper.FirstName}} {{.Shopper.LastName}}</td>
                </tr>
                <tr>
                    <td>Products</td>
                    <td>{{.GetProductSummary}}</td>  
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{.GetPriceInCurrency}}</td>
                </tr>
                <tr>
                    <td>PSP</td>
                    <td>{{.PaymentServiceProvider}}</td>
                </tr>
                <tr>
                    <td>Initial status</td>
                    <td>{{.InitialPaymentStatus}}</td>
                </tr>
                <tr>
                    <td>Final status</td>
                    <td>{{.GetFinalPaymentStatus}}</td>
                </tr>
                <tr>
                    <td>Payment method</td>
                    <td>{{.PaymentMethod}}</td>
                </tr>
            </tbody>
        </table>
        {{if .IsNotPaid}}
        <form action="/checkout/{{.UID}}" method="POST">
            <input type="hidden" name="returnUrl" value="{{.ReturnURL}}"/>
            <input type="hidden" name="amount" value="{{.TotalPrice}}"/>
            <input type="hidden" name="currency" value="{{.Currency}}"/>
            <input type="hidden" name="countryCode" value="{{.Shop.Country}}"/>
            <input type="hidden" name="company.homepage" value="{{.Shop.Hostname}}"/>
            <input type="hidden" name="company.name" value="{{.Shop.Name}}"/>
            <input type="hidden" name="shop.name" value="{{.Shop.Name}}"/>
            <input type="hidden" name="shopper.email" value="{{.Shopper.EmailAddress}}"/>
            <input type="hidden" name="shopper.locale" value="{{.Shopper.Locale}}"/>
            <input type="hidden" name="shopper.firstName" value="{{.Shopper.FirstName}}"/>
            <input type="hidden" name="shopper.lastName" value="{{.Shopper.LastName}}"/>
            <input type="hidden" name="shopper.uid" value="{{.Shopper.UID}}"/>
            <input type="hidden" name="shopper.phone" value="{{.Shopper.PhoneNumber}}"/>
            <input type="hidden" name="shopper.address.city" value="{{.Shopper.Address.City}}"/>
            <input type="hidden" name="shopper.address.country" value="{{.Shopper.Address.Country}}"/>
            <input type="hidden" name="shopper.address.houseNumber" value="{{.Shopper.Address.HouseNumberOrName}}"/>
            <input type="hidden" name="shopper.address.postalCode" value="{{.Shopper.Address.PostalCode}}"/>
            <input type="hidden" name="shopper.address.state" value="{{.Shopper.Address.StateOrProvince}}"/>
            <input type="hidden" name="shopper.address.street" value="{{.Shopper.Address.Street}}"/>
            <!-- <input type="hidden" name="shopper.dateOfBirth" value=""/> -->
            <button type="submit" class="btn btn-primary">Checkout with Adyen</button>
        </form>

        <form action="/stripe/checkout/{{.UID}}" method="POST">
            <input type="hidden" name="returnUrl" value="{{.ReturnURL}}"/>
            <input type="hidden" name="amount" value="{{.TotalPrice}}"/>
            <input type="hidden" name="currency" value="{{.Currency}}"/>
            <input type="hidden" name="countryCode" value="{{.Shop.Country}}"/>
            <input type="hidden" name="company.homepage" value="{{.Shop.Hostname}}"/>
            <input type="hidden" name="company.name" value="{{.Shop.Name}}"/>
            <input type="hidden" name="shop.name" value="{{.Shop.Name}}"/>
            <input type="hidden" name="shopper.email" value="{{.Shopper.EmailAddress}}"/>
            <input type="hidden" name="shopper.locale" value="{{.Shopper.Locale}}"/>
            <input type="hidden" name="shopper.firstName" value="{{.Shopper.FirstName}}"/>
            <input type="hidden" name="shopper.lastName" value="{{.Shopper.LastName}}"/>
            <input type="hidden" name="shopper.uid" value="{{.Shopper.UID}}"/>
            <input type="hidden" name="shopper.phone" value="{{.Shopper.PhoneNumber}}"/>
            <input type="hidden" name="shopper.address.city" value="{{.Shopper.Address.City}}"/>
            <input type="hidden" name="shopper.address.country" value="{{.Shopper.Address.Country}}"/>
            <input type="hidden" name="shopper.address.houseNumber" value="{{.Shopper.Address.HouseNumberOrName}}"/>
            <input type="hidden" name="shopper.address.postalCode" value="{{.Shopper.Address.PostalCode}}"/>
            <input type="hidden" name="shopper.address.state" value="{{.Shopper.Address.StateOrProvince}}"/>
            <input type="hidden" name="shopper.address.street" value="{{.Shopper.Address.Street}}"/>
            <!-- <input type="hidden" name="shopper.dateOfBirth" value=""/> -->
            <button type="submit" class="btn btn-primary">Checkout with Stripe</button>
        </form>
        {{end}}

    </div>
</div>
</body>
</html>