    <html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet"
          href="https://checkoutshopper-{{.Environment}}.adyen.com/checkoutshopper/sdk/5.35.0/adyen.css"
          crossorigin="anonymous">
    <script src="https://checkoutshopper-{{.Environment}}.adyen.com/checkoutshopper/sdk/5.35.0/adyen.js"
            crossorigin="anonymous"></script>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://placeholder.pics/svg/150x50/888888/EEE/Logo" alt="..." height="36">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/basket">Baskets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/oauth/admin">Oauth</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/termsconditions">Terms</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    {{ if .Completed}}
    
    <div class="row"> 
        <div class="payment-container">
        <div id="payment" class="payment"></div>
    </div>

    {{else}}

    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/basket/{{.BasketUID}}">Back</a></li>
            </ol>
        </nav>
    </div>
      
    <div class="row">
        <div class="col">
            <div class="row"> 
                <h5>{{.ShopperFullname}}</h5>
            </div>
            <div class="row">
                <h1>{{.Amount.String}}</h1>
            </div>

            <div class="row">
                <ul class="list-group">
                    {{range .Products}}
                    <div class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{.Name}}</h5>
                            <p>{{.TotalPrice}}</p>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">{{.Quantity}} x {{.Description}}</p>
                            <p>à {{.ItemPrice}}</p>
                        </div>
                    </div>
                    {{end}}
                </ul>
            </div>
        </div>

        <div class="col">
           
            <!--
            <div class="row"> 
                <div class="alert alert-secondary" role="alert">
                    <h5>To test Mastercard</h5>
                    <p>Use "4111 1111 4555 1142" or "4917 6100 0000 0000"</p>
                </div>
            </div>
            -->
            <div class="row"> 
                <div class="payment-container">
                <div id="payment" class="payment"></div>
            </div>
       
        </div>
    </div>

    {{end}}

    <div class="row">
        <footer class=".container-fluid">
            <div class="mx-auto" style="width: 200px;">
                <p>Powered by Adyen</p>
            </div>
        </footer>
    </div>

</div>



<script type="application/javascript">
    // Used to finalize a checkout call in case of redirect
    const urlParams = new URLSearchParams(window.location.search);
    const sessionId = urlParams.get('sessionId'); // Unique identifier for the payment session
    const redirectResult = urlParams.get('redirectResult');

    // Some payment methods use redirects. This is where we finalize the operation
    async function finalizeCheckout() {
        console.log("Finalize checkout:");
        try {
            const checkout = await createAdyenCheckout({id: sessionId});
            checkout.submitDetails({details: {redirectResult}});
            console.log("finalizeCheckout succeeded");
        } catch (error) {
            console.error("finalizeCheckout:"+error);
            alert("Error occurred. Look at console for details");
        }
    }

    async function startCheckout() {
        console.log("Start checkout:");
        try {
            const checkout = await createAdyenCheckout();
            checkout.create('dropin').mount(document.getElementById("payment"));
            console.log("startCheckout succeeded");
        } catch (error) {
            console.error("startCheckout:"+error);
            alert("Error occurred. Look at console for details");
        }
    }

    async function createAdyenCheckout(){
        const configuration = {
            environment: "{{.Environment}}",
            clientKey: "{{.ClientKey}}",
            showPayButton: true,
            analytics: {
                enabled: true
            },
            // paymentMethodsResponse: {{.PaymentMethodsResponse}},
            // paymentMethods: {{.PaymentMethodsResponse.PaymentMethods}},
            // paymentMethodsConfiguration:{{.PaymentMethodsResponse}},
            session: {
                id: "{{.ID}}", 
                sessionData: "{{.SessionData}}",
            },
            onPaymentCompleted: (result, component) => {
                console.log("onPaymentCompleted: checkout completed:"+JSON.stringify(result));
                handleServerResponse(result);
            },
            onError: (error, component) => {
                console.log("onError: checkout error:"+JSON.stringify(error));
                handleServerResponse(error);
            }
        };

        return new AdyenCheckout(configuration);
    }

    function handleServerResponse(result) {
        switch (result.resultCode) {
            case "Authorised":
                window.location.href = "/adyen/checkout/{{.BasketUID}}/status/success";
                break;
            case "Pending":
            case "Received":
                window.location.href = "/adyen/checkout/{{.BasketUID}}/status/pending";
                break;
            case "Refused":
                window.location.href = "/adyen/checkout/{{.BasketUID}}/status/failed";
                break;
            case "Cancelled":
                window.location.href = "/adyen/checkout/{{.BasketUID}}/status/cancelled";
                break;  
            default:
                window.location.href = "/adyen/checkout/{{.BasketUID}}/status/error";
                break;
        }
    }

    if( sessionId ) {
        finalizeCheckout()
    } else {
        startCheckout();
    }
</script>

</body>
</html>