<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <h1>OAuth summary</h1>
    <div class="row">
        <form action="/basket" method="GET">
            <button type="submit" class="btn btn-secundary">Back to basket overview</button>
        </form>
        <table class="table">
            <tbody>
            <tr>
                <td>Client ID</td>
                <td>{{.ClientID}}</td>
            </tr>
            <tr>
                <td>Session ID</td>
                <td>{{.SessionUID}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{.Status}}</td>
            </tr>
            <tr>
                <td>Created at</td>
                <td>{{.CreatedAt}}</td>
            </tr>
            <tr>
                <td>Last modified</td>
                <td>{{.LastModified}}</td>
            </tr>
            <tr>
                <td>Token valid until</td>
                <td>{{.ValidUntil}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
        <form action="/oauth/start" method="GET">
            <input type="hidden" name="returnURL" value="https://www.marcgrolconsultancy.nl/"/>
            <button type="submit" class="btn btn-secondary">Oauth session-setup</button>
        </form>
        </div>
        <div class="col">
            <form action="/oauth/refresh" method="GET">
                <button type="submit" class="btn btn-secondary">Refresh token</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>